   
<div>
    <h1>Contact me on :</h1>
    <button class="btn-info">Facebook</button> &nbsp;&nbsp; &nbsp;  
    <button class="btn-info">Twitter</button> &nbsp;&nbsp;&nbsp;
    <button class="btn-info"> Gmail</button> &nbsp;&nbsp;&nbsp;
    <button class="btn-info">Linkedin</button> 
    <!--
Facebook
<a type="button" mdbBtn floating="true" size="lg" color="fb" class="waves-light" mdbWavesEffect><mdb-icon fab icon="facebook-f"></mdb-icon></a>

Twitter
<a type="button" mdbBtn floating="true" size="lg" color="tw" class="waves-light" mdbWavesEffect><mdb-icon fab icon="twitter"></mdb-icon></a>

Google +
<a type="button" mdbBtn floating="true" size="lg" color="gplus" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="google-plus"></mdb-icon></a>

Linkedin
<a type="button" mdbBtn floating="true" size="lg" color="li" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="linkedin-in"></mdb-icon></a>

Instagram
<a type="button" mdbBtn floating="true" size="lg" color="ins" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="instagram"></mdb-icon></a>
 
Github
<a type="button" mdbBtn floating="true" size="lg" color="git" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="github"></mdb-icon></a>

Comments
<a type="button" mdbBtn floating="true" size="lg" color="comm" class="  waves-light" mdbWavesEffect><mdb-icon fas icon="comments"></mdb-icon></a>

Email
<a type="button" mdbBtn floating="true" size="lg" color="email" class="  waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon></a>
-->
</div>